!!!5
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %title CIT-Energy-Project
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    -# <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css stylesheets/main.css -->
    %link(rel="stylesheet" href="stylesheets/main.css")
    %link(rel="stylesheet" href="bower_components/nvd3/nv.d3.css")
    <!-- endbuild -->

  %body
    .container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            %a.navbar-brand(href="#")
              CIT-Energy-Project Report
          %p.navbar-text#date-container
          %ul.nav.navbar-nav.navbar-right
            %li#nav-mode-offline
              %a(href="?mode=offline") Offline
            %li#nav-mode-online
              %a(href="?mode=online") Online
    .container#main-container
      .container
        %h2 Power usage
      .container.chart
        %p.loading-banner
          Loading...
        %svg.col-xs-4#power-pie-chart
        -# we need a additional div here, otherwise popups calculating wrong positions
        .col-xs-8
          %div
            %svg#power-line-chart
      .container
        %h2 Storage usage
      .container.chart#storage-chart
        %p.loading-banner
          Loading...
        %svg
      .container
        %h2 Traffic usage
      .container.chart#traffic-chart
        %p.loading-banner
          Loading...
        %svg


    <!-- build:js javascripts/vendor.js -->
    %script(src="bower_components/jquery/dist/jquery.js")
    %script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    %script(src="bower_components/d3/d3.js")
    %script(src="bower_components/nvd3/nv.d3.js")
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) javascripts/app.js -->
    %script(src="javascripts/main.js")
    <!-- endbuild -->
